@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --ff-noto-sans: "Noto Sans", sans-serif;
}

.noto-sans {
  font-family: var(--ff-noto-sans);
  font-weight: 500;
}

.bg-gradient {
  @apply bg-linear-to-t from-[#D2D6DB] to-[#F9FAFB];
}

.shadow-subtle {
  @apply shadow-[0_1px_3px_0_rgba(0,0,0,0.1),0_1px_2px_-1px_rgba(0,0,0,0.1)];
}

.text-sm {
  @apply text-[0.875rem] leading-5;
}

.text-base {
  @apply text-[1rem] leading-6;
}

.text-xl {
  @apply text-[1.25rem] leading-7;
}

.bg-primary {
  @apply bg-indigo-700;
}

.bg-primary-hover {
  @apply bg-indigo-800;
}

.text-primary {
  @apply text-neutral-900;
}

.text-secondary {
  @apply text-neutral-600;
}
