@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --ff-noto-sans: "Noto Sans", sans-serif;
}

.noto-sans {
  font-family: var(--ff-noto-sans);
  font-weight: 500;
}

.bg-gradient {
  @apply bg-linear-to-t from-[#D2D6DB] to-[#F9FAFB];
}

.shadow-subtle {
  @apply shadow-[0_1px_3px_0_rgba(0,0,0,0.1),0_1px_2px_-1px_rgba(0,0,0,0.1)];
}
